/* -------------------------------------------------------------------------- */
/* VARIABLES
/* -------------------------------------------------------------------------- */

:root {


    /* TODO Remove semantic names on base and primary */
    /* TODO reorganize colors after checking css references */
    
    /* Colors */
    /* -------------------------------------------------------------------------- */
    --color-primary: var(--ghost-accent-color, #3eb0ef);  
    --color-base: rgb(21, 21, 21);
    --color-border: hsl(0, 0%, 87%);
    --color-bg: hsl(0, 0%, 96%);
    --color-success: hsl(80, 82%, 40%);
    --color-error: hsl(11, 86%, 56%);
    
    /* Added colors  */
    /* -------------------------------------------------------------------------- */
    --color-secondary: hsl(260, 33%, 46%);
    --color-text-light: hsl(0, 0%, 90%);
    --color-text-dark: hsl(240, 2%, 12%);
    --color-text-gray: hsl(240, 2%, 35%);
    --color-info: hsl(211, 65%, 50%);
    --color-warning: hsl(38, 96%, 58%);
    
    /* Grays */
    /* -------------------------------------------------------------------------- */
    /* color scale via Colorbox from Lyft */
    --color-gray-00: hsl(75, 100%, 99%);
    --color-gray-01: hsl(94, 15%, 91%);
    --color-gray-02: hsl(150, 4%, 67%);
    --color-gray-03: hsl(195, 2%, 45%);
    --color-gray-04: hsl(240, 2%, 24%);
    
    /* Surfaces */
    /* -------------------------------------------------------------------------- */
    --surface-warm-00: hsl(44, 100%, 98%);
    --surface-warm-01: hsl(49, 58%, 96%);
    --surface-warm-02: hsl(57, 45%, 92%);
    

    /* Fonts */
    /* -------------------------------------------------------------------------- */
    --font-sans: 'Barlow', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: 'PT Serif', Georgia, Times, serif;
    --font-mono: 'Inconsolata', Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-medium: 600;
    --font-bold: 700;
    --font-heavy: 800;


    /* Font size */
    /* -------------------------------------------------------------------------- */


    /* Old font ratio system for font changes. 
    --font-ratio: 1.6;
    --font-size-00: calc( 1.2rem / var(--font-ratio));
    --font-size-01: 1rem;
    --font-size-02: calc( var(--font-size-01) * var(--font-ratio));
    --font-size-03: calc( var(--font-size-02) * var(--font-ratio));
    --font-size-04: calc( var(--font-size-03) * var(--font-ratio));
    --font-size-05: calc( var(--font-size-04) * var(--font-ratio));
    --font-size-06: calc( var(--font-size-05) * var(--font-ratio));
     */


    /* Font weight */
    /* -------------------------------------------------------------------------- */
    


    /* Breakpoints */
    /* -------------------------------------------------------------------------- */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;


    /* Sizes */
    /* -------------------------------------------------------------------------- */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;
    
    
    /* Spacing */
    /* -------------------------------------------------------------------------- */
    --gap: 3.6rem;
    --space-s: .5rem;
    --space-m: 1rem;
    --space-l: 1.5rem;
    --space-xl: 2rem;
    --space-huge: 3rem;
    --space-mega: 4rem;
    --space-stupid: 5rem;


    /* Margin */
    /* -------------------------------------------------------------------------- */




    



}
